<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PythonHandler" />
            <remove name="PYHandler" />
            <add name="PythonHandler" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Gabriel\AppData\Local\Programs\Python\Python36\python.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
